:root{
    --color-1: white;
    --color-2: black;
}
@media print {
    body{
        all: unset;
    }
    .container{
        display: none;
    }

    b{
        color: red;
        font-weight: 900;
    }

    .table{
        border-color: black;
        width: 95vw!important;
    }

}

body{
    background-color: var(--color-1);
    background-image: radial-gradient(var(--color-2) 2px, transparent 0);
    background-size: 30px 30px;
    background-position: -5px -5px;
    font-family: quicksand;
}
::-webkit-calendar-picker-indicator {
    color: var(--color-2);
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 24 24"><path fill="%23var(--color-1)" d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z"/></svg>');
}
::-webkit-scrollbar{
    display: none;
}
.card{
    background-color: var(--color-1);
    color: var(--color-2);
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    border: 5px solid var(--color-2);
}
h5{
    margin: 0;
}
.input-group{
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
    border: 1px solid var(--color-2);
}
.input-group-text{
    background-color: var(--color-2);
    color: var(--color-1);
    font-weight: 600;
    border: none;
}
.form-control{
    background-color: var(--color-1);
    color: var(--color-2);
    padding: 10px;
    border: none;
    font-weight: 600;

    &::placeholder{
        color: var(--color-2);
        font-weight: 600;
    }

    &:active,&:focus{
        background-color: var(--color-1);
        color: var(--color-2);
        outline: none;
        box-shadow: none;
    }
}
button{
    font-weight: 900;
    font-size: 30px;
    background-color: var(--color-2);
    color: var(--color-1);
    padding: 10px 50px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;

    &:hover{
        background-color: var(--color-1);
        color: var(--color-2);
    }

}
label{
    font-size: 17px;
}